* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--light-grayish-cyan);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'space_mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

header {
  margin-bottom: 50px;
}

.container {
  width: 80%;
  max-width: 900px;
  background-color: var(--white);
  padding: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  /* justify-content: space-between; */
}

.input-display,
.output-display {
  width: 50%;
}

.input-display {
  color: var(--very-dark-cyan);
  font-weight: 700;
}

.input-display .label {
  margin-bottom: 15px;
}

.input-display .bill-input-div,
.input-display .people-input-div {
  background-color: var(--very-light-grayish-cyan);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}

.input-display .input input {
  width: 100%;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  border: none;
  outline: none;
}

.input-display .input input::placeholder {
  color: inherit;
  opacity: 0.7;
}

.input-display .input:has(input:focus) {
  border: 3px solid var(--strong-cyan);
}

.input-display .input:has(input[class*="error"]) {
  border: 2px solid #ff2b2b80;
  color: #ff2b2be0;
}

.input-display .input .error-msg {
  position: absolute;
  right: 0;
  top: -30px;
  color: #ff2b2be0;
  display: none;
}

.input-display #tip-select,
.input-display .bill-input-div {
  margin-bottom: 40px;
}

.input-display #tip-select {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 55px);
  gap: 15px;
}

#tip-select .tip {
  background-color: var(--very-dark-cyan);
  color: var(--very-light-grayish-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

#tip-select span.tip[class*="selected"] {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

#tip-select input.tip {
  background-color: var(--very-light-grayish-cyan);
  width: 100%;
  height: 100%;
  outline: 0;
  place-self: center;
  border: none;
  text-align: right;
  color: var(--very-dark-cyan);
  font-size: 24px;
  font-weight: inherit;
}

#tip-select .tip.custom:focus {
  border: 3px solid var(--strong-cyan);
}

#tip-select .tip.custom::placeholder {
  color: var(--very-dark-cyan);
  text-align: center;
  opacity: 0.7;
}

.output-display {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: 50px 40px;
  border-radius: 15px;
}

.output-display .total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.output-display .total.tip-total {
  margin-bottom: 50px;
}

.output-display .total.bill-total {
  margin-bottom: 120px;
}

.output-display .total .text {
  line-height: 1.5;
  color: var(--very-light-grayish-cyan);
}

.output-display .total .text .small {
  opacity: 0.7;
  font-size: 13px;
}

.output-display .total .amount-display {
  font-size: 42px;
  font-weight: 700;
  color: var(--strong-cyan);
}

.output-display .btn {
  width: 100%;
  height: 50px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--dark-grayish-cyan);
  color: var(--very-dark-cyan);
  border: none;
  opacity: 0.7;
  cursor: pointer;
}

.output-display .btn[class*="completed"] {
  background-color: var(--strong-cyan);
  opacity: 1;
}

.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}